// body
body {
    font-size: 16px;
    color: $font-white;
    font-family: "Open sans", sans-serif;
    font-weight: 400;
}

// main
.main {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background: $app-bg-gradient;

    @include breakpoint-min(1201px) {
        padding-left: 420px;
    }
}

// side menu
.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
    height: 100%;
    width: 100%;
    padding: 80px 20px 45px 20px;
    background-color: $side-menu-bg;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #545454;
    }

    @include breakpoint-max(1200px) {
        transition: all 0.3s;
        transform: translateX(100%);

        &.is-active {
            transform: translateX(0);
        }
    }

    @include breakpoint-min(1201px) {
        width: 420px;
        padding: 40px 35px;
        animation: fade-to-right 0.5s ease forwards;
    }

    &-close {
        position: absolute;
        top: 30px;
        right: 22px;
        width: 20px;
        height: 20px;

        img {
            width: 100%;
        }

        @include breakpoint-min(1201px) {
            display: none;
        }
    }
}

// logo
.logo {
    margin-bottom: 30px;

    h2 {
        font-size: 38px;
        letter-spacing: -0.025em;
        color: $font-white;
    }

    @include breakpoint-max(1200px) {
        display: none;
    }
}

// form
.form {
    display: flex;
    flex-direction: column;

    &-wrapper {
        display: flex;

        @include breakpoint-max(1200px) {
            max-width: 500px;
            margin: 0 auto;
        }

        @include breakpoint-min(1201px) {
            min-height: calc(100% - 90px);
        }
    }

    &-inputs {
        // here
    }

    &-btns {
        margin: 10px 0 20px 0;

        &-divider {
            display: flex;
            justify-content: space-between;
            margin-top: 14px;

            .btn {
                flex-basis: 48%;
            }
        }
    }

    &-info {
        margin-top: auto;
        text-align: center;
        font-size: 13px;
        font-weight: 300;
        color: #959595;

        @include breakpoint-min(1201px) {
            font-size: 15px;
        }
    }

    &-links {
        display: flex;
        padding: 10px 0;

        li {
            margin-left: 10px;

            &:first-child {
                margin-left: 0;
            }
        }

        a {
            font-size: 14px;
            font-weight: 700;
            color: #959595;
            transition: all 0.3s ease;

            @include breakpoint-min(1201px) {
                font-size: 17px;

                &:hover {
                    color: $font-yellow;
                }
            }
        }
    }
}

// inputs
.input {
    &-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 19px;
        padding-bottom: 19px;
        border-bottom: 1px solid #444444;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        padding: 0 3px;

        label {
            font-weight: 300;
            font-size: 14px;
            font-weight: 700;
            color: $yellow;
        }

        img {
            width: 20px;
        }
    }

    &-main {
        input {
            width: 100%;
            border: 0;
            background-color: $input-bg;
            border-radius: 5px;
            padding: 14px 20px;
            font-size: 16px;
            font-family: "Open sans", sans-serif;
            color: $font-white;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            &[type="number"] {
                -moz-appearance: textfield;
            }
        }
    }

    &-error {
        display: none;

        p {
            margin-top: 8px;
            color: $error-red;
            font-size: 14px;
        }

        &.is-active {
            display: block;
        }
    }
}

// buttons
.btn {
    display: inline-block;
    width: 100%;
    background-color: #686868;
    padding: 15px 14px;
    border-radius: 5px;
    color: $font-white;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-weight: 700;
    font-size: 15px;
    font-family: "Open sans", sans-serif;
    transition: all 0.3s;
    border: 2px solid #686868;
    text-align: center;

    &.yellow {
        background-color: $yellow;
        border-color: $yellow;

        @include breakpoint-min(1201px) {
            &:hover {
                background-color: lighten($yellow, 12);
            }
        }
    }

    &.border-red {
        background-color: transparent;
        border-color: $error-red;

        @include breakpoint-min(1201px) {
            &:hover {
                background-color: $error-red;
            }
        }
    }

    &.border-yellow {
        background-color: transparent;
        border-color: $yellow;

        @include breakpoint-min(1201px) {
            &:hover {
                background-color: $yellow;
            }
        }
    }

    &.is-disabled {
        background-color: #4b4b4b;
        border-color: #4b4b4b;
        cursor: not-allowed;

        @include breakpoint-min(1201px) {
            &:hover {
                background-color: #4b4b4b;
            }
        }
    }
}

// headings
.heading {
    font-size: 38px;
    font-weight: 800;
    color: $font-white;

    @include breakpoint-min(1201px) {
        font-size: 64px;
    }

    &.timer {
        font-size: 90px;
        color: $yellow;

        @include breakpoint-min(370px) {
            font-size: 95px;
        }

        @include breakpoint-min(768px) {
            font-size: 140px;
        }

        @include breakpoint-min(1201px) {
            font-size: 180px;
        }
    }

    &.small {
        font-size: 22px;
        font-weight: 700;

        @include breakpoint-min(1201px) {
            font-size: 34px;
        }
    }
}

// main clock
.clock {
    &-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        &.is-paused {
            .clock-paused {
                visibility: visible;
                opacity: 1;
            }

            .clock-container {
                filter: blur(5px);
            }
        }
    }

    &-container {
        padding: 40px 30px;
        display: flex;
        justify-content: center;
        width: 100%;
        border-radius: 20px;
        background-color: $timer-bg;
        opacity: 0;
        animation: fade-in 0.5s ease forwards;
        transition: all 0.3s;

        @include breakpoint-min(1201px) {
            padding: 80px 30px;
            width: 65%;
            min-width: 900px;
            border-radius: 250px;
        }
    }

    &-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-header {
        text-align: center;
    }

    &-content {
        // here
    }

    &-footer {
        display: flex;
        width: 100%;
        justify-content: space-around;

        @include breakpoint-min(1201px) {
            justify-content: space-between;
            width: 500px;
        }

        &-col {
            text-align: center;

            span {
                font-size: 24px;
                font-weight: 700;
                color: $yellow;

                @include breakpoint-min(1201px) {
                    font-size: 38px;
                }
            }
        }
    }

    &-paused {
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #797979ad;
        z-index: 20;
        transition: all 0.3s;
    }
}

// content
.content {

    &-wrapper {
        padding: 40px 50px 30px 50px;

        h2 {
            font-size: 38px;
            color: $font-yellow;
        }
    
        h5  {
            font-size: 20px;
            color: #959595;
            font-weight: 400;
        }
    }

    &-text-group {
        max-width: 700px;
        padding: 30px 0;
    }

    &-list {
        max-width: 700px;
        padding: 30px 0;
        list-style: disc;
        list-style-position: inside;

        li {
            margin-bottom: 20px;
            font-size: 16px;
        }
    }

    p {
        margin-bottom: 20px;
        font-size: 16px;

        span {
            color: $font-yellow;
        }
    }
}

// mobile topbar
.mobile-topbar {
    display: flex;
    position: absolute;
    z-index: 40;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;

    &-logo {
        width: 170px;

        h2 {
            font-size: 24px;
            letter-spacing: -0.025em;
            color: $font-white;
        }

        img {
            width: 100%;
        }
    }

    &-menu {
        width: 26px;
        height: 26px;

        img {
            width: 100%;
        }
    }

    @include breakpoint-min(1201px) {
        display: none;
    }
}
