// body
body {
    font-size: 16px;
    color: $font-white;
    font-family: "Open sans", sans-serif;
    font-weight: 400;
}

// main
.main {
    position: relative;
    overflow: hidden;
    height: 100vh;
    padding-left: 420px;
    background: $app-bg-gradient;
}

// side menu
.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 420px;
    padding: 45px 40px;
    background-color: $side-menu-bg;

    @include breakpoint-min(1201px) {
        animation: fade-to-right 0.5s ease forwards;
    }
}

// logo
.logo {
    margin-bottom: 40px;

    img {
        width: 250px;
    }
}

// form
.form {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-wrapper {
        height: calc(100% - 20px - 50px - 50px);
    }

    &-inputs {
        // here
    }

    &-btns {
        margin-top: auto;

        &-divider {
            display: flex;
            justify-content: space-between;
            margin-top: 14px;

            .btn {
                flex-basis: 48%;
            }
        }
    }
}

// inputs
.input {
    &-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 22px;
        padding-bottom: 22px;
        border-bottom: 1px solid #444444;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        padding: 0 3px;

        label {
            font-weight: 300;
            font-size: 14px;
            font-weight: 700;
            color: $yellow;
        }

        img {
            width: 20px;
        }
    }

    &-main {
        input {
            width: 100%;
            border: 0;
            background-color: $input-bg;
            border-radius: 5px;
            padding: 14px 20px;
            font-size: 16px;
            font-family: "Open sans", sans-serif;
            color: $font-white;
        }
    }

    &-error {
        display: none;

        p {
            margin-top: 8px;
            color: $error-red;
            font-size: 14px;
        }

        &.is-active {
            display: block;
        }
    }
}

// buttons
.btn {
    width: 100%;
    background-color: #686868;
    padding: 16px 14px;
    border-radius: 5px;
    color: $font-white;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-weight: 700;
    font-size: 16px;
    font-family: "Open sans", sans-serif;
    transition: all 0.3s;
    border: 2px solid #686868;

    &.yellow {
        background-color: $yellow;
        border-color: $yellow;

        @include breakpoint-min(1201px) {
            &:hover {
                background-color: lighten($yellow, 12);
            }
        }
    }

    &.border-red {
        background-color: transparent;
        border-color: $error-red;

        @include breakpoint-min(1201px) {
            &:hover {
                background-color: $error-red;
            }
        }
    }

    &.border-yellow {
        background-color: transparent;
        border-color: $yellow;

        @include breakpoint-min(1201px) {
            &:hover {
                background-color: $yellow;
            }
        }
    }
}

// headings
.heading {
    font-size: 68px;
    font-weight: 800;
    color: $font-white;

    &.timer {
        font-size: 200px;
        color: $yellow;
    }

    &.small {
        font-size: 32px;
        font-weight: 700;
    }
}

// main clock
.clock {
    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 90px 160px 110px 160px;
        border-radius: 360px;
        background-color: $timer-bg;

        @include breakpoint-min(1201px) {
            opacity: 0;
            animation: fade-in 0.5s 0.5s ease forwards;
        }
    }

    &-header {
        // here
        @include breakpoint-min(1201px) {
            opacity: 0;
            animation: fade-in 0.33s 1s ease forwards;
        }
    }

    &-content {
        // here
        @include breakpoint-min(1201px) {
            opacity: 0;
            animation: fade-in 0.33s 1.33s ease forwards;
        }
    }

    &-footer {
        display: flex;
        width: 100%;
        justify-content: space-between;

        @include breakpoint-min(1201px) {
            opacity: 0;
            animation: fade-in 0.33s 1.66s ease forwards;
        }

        &-col {
            text-align: center;

            span {
                font-size: 38px;
                font-weight: 400;
                color: $yellow;
            }
        }
    }
}
