// Variables
$yellow: #deb327;
$side-menu-bg: #343434;
$input-bg: #4b4b4b;
// $timer-bg: #818181;
$timer-bg: #54545452;
$app-bg-gradient: linear-gradient(315deg, rgba(33, 33, 33, 1) 0%, rgba(87, 87, 87, 1) 100%);
$error-red: #de4848;

$font-white: #ffffff;
$font-black: #000000;
$font-light-grey: #eeeeee;
$font-yellow: $yellow;
